.header__subtitle {
    width: max-content;
    color:black;
    text-decoration: none;
    margin-right: 0;
    margin-left: auto;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
}