.header__title {
    margin: 0;
    font-weight: normal;
    font-size: 54px;
    line-height: 56px;
  }
  
  @media screen and (max-width: 720px) {
    .header__title {
      font-size: 30px;
      line-height: 31px;
    }
  }