.header__social-icon {
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.header__social-icon:hover {
    opacity: 0.7;
    animation: rotate-icon 1.2s ease;
}

.header__social-icon_type_viber {
    background-image: url('../../../images/viber_icon.png');
}

.header__social-icon_type_whatsapp {
    background-image: url('../../../images/whatsapp_icon.png');
}

.header__social-icon_type_telegram {
    background-image: url('../../../images/telegram_icon.png');
}